@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    text-align: center;
    height: 100%;
}

header {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner {
    width: 50%;
    height: 100%;
    display: flex;
    
}

.conteiner2 {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-login {
    
    width: 80px;
    height: 70%;
    border: 2px solid #327AD9;
    border-radius: 5px;
    
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;

    font-style: italic;
    font-size: 20px;
    width: 100%;
    height: 100%;
    color: #327AD9;
}

#cart {
    width: 30px;
}

a {
    font-size: 25px;
    text-decoration: none;
    color: #0D0D0D;
}

#inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



@media(max-width:800px) {
    article {
        height: 90vh;
        position: relative;
        top: 100px;
    }

} 

h1 {
    margin: 0;
    font-size: 50px;
    
    text-align: center;
    color: #2C3A40;
}

h3 {
    color: #327AD9;
    font-size: 20px;
}

.mais-vendidos {
    height: 150vh;
    background-color: #F4F9FF;
}

#img-produto {
    width: 80%;
    margin-top: 10px;
}

.btn-all {
    height: 110px;
    

}

.btn-view {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 20px;
    
    background-color: #EAF1FB;
    color: #327AD9;
    
    border: solid 1px #327AD9;
}

em {
    font-size: 20px;
    color: #327AD9;
    font-weight: bold;
}

.btn-add {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    background-color: #327AD9;
    font-size: 20px;

    border: solid 1px #327AD9 ;
    
}

.all-view {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-add {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#view {
    display: flex;
    align-items: center;
    justify-content: center;
    

    width: 100%;
    height: 100%;

}

.txt-desc {
    height: 110px;
}



#add {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
 
}

.paragraph {
    color: #696e70;
    max-width: 600px;
    line-height: 2em;
    margin-bottom: 0;
}

#banner {
    width: 600px;
}

#produtos {
    height: 125vh;
}

.produtos {
    width: 100%;
    height: 125vh;
    background-color: #F4F9FF;
}

.produtos-txt {
    padding: 50px 0 50px 0;
    margin: 0;
    font-weight: bold;
    font-size: 30px;
}

.coluna1, .coluna2 {
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-coluna1 {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;
    height: 450px;
    margin: 0;
}


.produto1, .produto2, .produto3, .produto4 {
    display: inline-block;
    width: 250px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 0 15px 0 15px;
    padding: 20px;
    border: solid 1px #00000011 ;
    
}

.produto1:hover, .produto2:hover, .produto3:hover, .produto4:hover {
    box-shadow: 0 0 10px #999;
    
}

#map {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.mapa, .contato-form {
    width: 500px;
    height: 500px;
    background-color: #F4F9FF;
    box-shadow: 0px 0px 1px;
    display: inline-block;
    margin: 10px;
    border-radius: 20px;
}

.content-mapa {
    text-align: left;
    margin: 30px;
}

.content-form {
    text-align: left;
    margin: 30px;
}

textarea {
    width: 372px;
    margin-bottom: 20px;
}

.line1, .line2 {
    margin-bottom: 20px;
}

.buttonBanner {
    position: relative;
    top: 60px;
    overflow: hidden;
    border: 1px solid #6ea7f1;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: #327AD9;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-radius: 5px;

    font-family: roboto;
    font-size: 20px;
    color: #ffffff;
  }

  .teste {
    margin: 100px 0 0 0;
    clear: right;
  }

@media(max-width: 800px) {
    #home, #about, #contact, #banner {
        display: none;
    }
}

@media(max-width:800px) {
    h1 {
        font-size: 60px;
    }

} 

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
.txt-mapa {
    font-size: 18px;
    color: #717272;
    
}

.txt-encontrar {
    margin: 50px 0 120px 0;
}

.icons {
    width: 25px;
    margin-right: 20px;
}

.all-adress, .all-email, .all-telefone {
    display: flex;
    height: 20px;
    align-items: center;
}

.all-adress {
    margin-top:50px ;
}

.all-email {
    margin: 20px 0 20px 0;
}
